.speech{font-family: Arial, Helvetica, sans-serif;font-size: medium; color:black;}
.direction{font-family: 'Times New Roman', Times, serif;font-size: medium;color: black;}
.name{font-family: 'Courier New', Courier, monospace;font-size: medium;color: black;}
.direction:hover{
    background-color:bisque;
    color:blue;
}
.name:hover{
    text-shadow: 3px 4px 5px goldenrod
}
.ARM{
    color: aqua;
}
.HEN{
    color: blue;
}

table,td,th{
    border: 2px solid green ;
    margin: 1px solid green;
    padding: 1px;
}
th{
    color:peru;
    margin: 1px solid green;
    text-align: left;
    padding: 1px;
}
td{
    color:gold;
    margin: 1px solid green;
    text-align: left;
    padding: 1px;

}
